<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- IMU. Driver only works in main thread (depends on signal library) -->
	<node ns="driver_imu" name="imu_bosch" pkg="driver_bno055" type="bno055_i2c_node" respawn="false" respawn_delay="10">
		<!-- change to 3 for software i2c -->
		<param name="device" type="string" value="/dev/i2c-3" />
		<!-- First address to check -->
		<param name="address" type="int" value="40" />
		<!-- How fast to publish messages -->
		<param name="rate" type="int" value="25" />
		<!-- How many data messages per single diagnostic message. Higher = less often diag -->
		<param name="diag_pub_interval" type="int" value="10" />
	</node>
</launch>